/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Pacifico&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Pacifico&display=swap');

/* HEADER */
header {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-family: "Permanent Marker", cursive;
    text-transform: capitalize;
    font-weight: 10;
    padding: 20px;
    background-color: rgb(165, 216, 255, 0.5);
    border-radius: 20px;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    font-family: "Edu TAS Beginner", cursive;
    font-size: 1.2rem;
    font-weight: 500;
}

header img {
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* BODY */
body {
    font-family: 'Arial', sans-serif;
    background: rgb(249,222,253);
    background: radial-gradient(circle, rgba(249,222,253,1) 0%, rgba(203,245,252,1) 50%, rgba(254,249,229,1) 100%);
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    color: #4CAF50;
    text-transform: uppercase;
    margin: 0;
}

.todo-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    display: hide;
}

/* CARD */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}

.card {
    position: relative;
    flex: 1 1 calc(33% - 20px);
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    min-height: 400px;
    max-height: 100px;
    min-width: 250px;
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    
}

.card h2 {
    font-family: "Permanent Marker", cursive;
    text-transform: capitalize;
    font-weight: 10;
    margin: 0;
    color: #333;
}

.card p {
    text-align: center;
    align-items: center;
    margin-top: 10px;
    color: #555;
}

.card-icon{
    padding: 4px;
    border-radius: 50%;
    background-color: #78fc78;
}

.card-header {
    justify-content: left;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-due-date {
    font-size: 0.9em;
    color: #757575;
    margin-top: 10px;
    position: absolute; 
    bottom: 60px; 
    right: 20px; 
}

.card-footer {
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    right: 20px; 
    display: flex;
    justify-content: space-around;
}

.card-footer img {
    width: 30px;
}

.card:hover {
    transform: scale(1.05);
}

.add-card {
    background-color: #f629c6
}

/* TASK Categories */
.personal-task {
    background-color:rgb(165, 216, 255, 0.5);

}

.urgent-personal-task {
    background-color: rgb(165, 216, 255, 0.5);
}

.urgent-personal-task .card-icon {
    background-color: rgb(255, 96, 96);
}

.work-task {
    background-color: rgb(208, 191, 255, 0.5);
}

.urgent-work-task {
    background-color: rgb(208, 191, 255, 0.5);
}

.urgent-work-task .card-icon {
    background-color: rgb(255, 96, 96);
}

.completed-task-icon {
    background-image: url("../icons/hugeicons--task-done-01.png");
    background-repeat: no-repeat;
    background-position: center;
}

.completed-task {
    background-color: #65856d;
    opacity: 0.6;
}