.personal-task {
    background-color: rgb(165, 216, 255, 0.5);
}

.urgent-personal-task {
    background-color: rgb(165, 216, 255, 0.5);
}

.urgent-personal-task .card-icon {
    background-color: rgba(255, 96, 96, 0.8);
}

.work-task {
    background-color: rgb(208, 191, 255, 0.5);
}

.urgent-work-task {
    background-color: rgb(208, 191, 255, 0.5);
}

.urgent-work-task .card-icon {
    background-color: rgba(255, 96, 96, 0.8);
}

.completed-task-icon {
    background-image: url("../icons/hugeicons--task-done-01.png");
    background-repeat: no-repeat;
    background-position: center;
}

.completed-task {
    background-color: #65856d;
    opacity: 0.6;
}